{% extends "layout.html" %}

{% block title %}
    Reset_password
{% endblock %}

{% block main %}
    <form action="{{ url_for('reset_password') }}" method="post">
        <fieldset>
            <div class="form-group">
                <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text"/> 
                <p style="color:red;"> {{ message_user }} </p>
            </div>

            <div class="form-group">
                <input class="form-control" name="password" placeholder="Password" type="password"/>
                <p style="color:red;"> {{ message_pas }} </p>
            </div>
            <div class="form-group">
                <input class="form-control" name="re_password" placeholder="Repeat password" type="password"/>
            </div>
            <div class="form-group">
                <button class="btn btn-default" type="submit"> Reset password</button>
            </div>
        </fieldset>
    </form>
{% endblock %}